<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454212027956-qkhbgafje13t3vtbbn89krm060hl712h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454212027956-qkhbgafje13t3vtbbn89krm060hl712h</string>
	<key>API_KEY</key>
	<string>AIzaSyDUyvGrXIPW57yMoE-ssOjNbbaHhP_HXUI</string>
	<key>GCM_SENDER_ID</key>
	<string>454212027956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudFirestoreSample</string>
	<key>PROJECT_ID</key>
	<string>cloud-firestore-sample-8fe69</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-firestore-sample-8fe69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454212027956:ios:d614781584044f96d46c61</string>
</dict>
</plist>